.header {
  display: grid;
  grid-template-columns: max-content auto max-content;
  border-bottom: 1px solid black;
}

.header .logo {
  grid-column: 1;
}

.header .user {
  grid-column: 3;
  align-self: center;
  padding-right: 10px;
}

.header .user a {
  text-decoration: none;
  color: #002f33;
  transition: .2s;
}

.header .user a:hover {
  color: #008996;
}

#username {
  padding-right: 5px;
}

#sign-out {
  padding-left: 5px;
  border-left: 1px solid black;
}

#logo {
  height: 40px;
}

.content #inventory {
  grid-template-columns: 39% max-content auto;
  grid-template-rows: max-content max-content;
}

.content #employee {
  grid-template-columns: 39% max-content auto;
  grid-template-rows: max-content max-content;
}

#content-selector {
  display: grid;
  grid-template-columns: 39% max-content auto;
}

#content-selector .select-list {
  grid-column: 2;
  list-style-type: none;
  padding: 0;
  min-width: 350px;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #7BA7AB;
  border-radius: 10px;
}

#content-selector .select-list li {
  float: left;
}

#content-selector .select-list li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#content-selector .select-list a:hover:not(.active) {
  background-color: rgba(2, 129, 146, 0.322);
}

#content-selector .select-list .active {
  background-color: #fff;
}

.filters {
  grid-column: 1;
  width: 190px;
  border: 1px solid #7BA7AB;
  border-radius: 10px;
}

.filter-list {
  list-style-type: none;
  padding: 0;
}

.filter-list li:hover {
  background: #7BA7AB;
}

.search {
  grid-column: 2;
  margin-right: auto;
}

.search input {
  width: 300px;
  height: 42px;
  padding-left: 10px;
  border: 1px solid #7BA7AB;
  border-radius: 5px;
  outline: none;
  color: #9E9C9C;
  transition: .3s;
}

.search input:focus {
  border: 2px solid #7BA7AB;
}

.search button {
  position: relative;
  left: -8px;
  height: 42px;
  border: none;
  background: #7BA7AB;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

.search button:hover {
  transition: .3s;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.content-table {
  grid-row: 2;
  grid-column: 1/4;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

table {
  font-size: 14px;
  background: #fff;
  border-collapse: collapse;
  text-align: center;
  margin: 20px;
}

table a {
  text-decoration: none;
  color: #004b52;
}

table a:hover {
  text-decoration: underline;
}

th {
  font-size: 14px;
  font-weight: normal;
  color: #039;
  border-bottom: 2px solid #6678b1;
  padding: 10px 8px;
}

td {
  color: #669;
  padding: 9px 8px 0;
}

th {
  font-size: 15px;
  background: #7ba7abb5;
  border-bottom: 1px solid #fff;
  color: #004b52;
  padding: 8px;
}

td {
  background: #7ba7ab2b;
  border-bottom: 1px solid #fff;
  color: #004b52;
  border-top: 1px solid transparent;
  padding: 8px;
}

tr:hover td {
  transition: .2s;
  background: #004b523d;
  color: #043f44;
}

@media screen and (max-width: 590px) {
  .search {
    grid-column: 1;
    grid-row: 1;
    margin-right: auto;
    margin-bottom: 10px;
  }
  .content #inventory {
    grid-template-columns: max-content;
    grid-template-rows: max-content max-content;
  }
  .content #employee {
    grid-template-columns: max-content;
    grid-template-rows: max-content max-content;
  }
  .filters {
    grid-row: 2;
    width: 190px;
    border: 1px solid #7BA7AB;
    border-radius: 10px;
  }
  .content-table {
    grid-row: 3;
    margin-top: 10px;
    margin-right: auto;
  }
  #content-selector {
    display: grid;
    grid-template-columns: max-content;
  }
  #content-selector .select-list {
    grid-column: 1;
    list-style-type: none;
    padding: 0;
    min-width: 350px;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #7BA7AB;
    border-radius: 10px;
  }
}
